[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "omz/.oh-my-zsh"]
	path = omz/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "yazi/.config/yazi/plugins/bat.yazi"]
	path = yazi/.config/yazi/plugins/bat.yazi
	url = https://github.com/wohltat/yazi-plugin-bat.git
[submodule "yazi/.config/yazi/plugins/bookmarks.yazi"]
	path = yazi/.config/yazi/plugins/bookmarks.yazi
	url = https://github.com/dedukun/bookmarks.yazi.git
